@tailwind base;
@tailwind components;
@tailwind utilities;


.grid-template-areas{
    grid-template-areas:
    "sidebar content"
    "now-playing now-playing"
}

.grid-template-areas .sidebar{
    grid-area: sidebar;
}


.grid-template-areas .content{
    grid-area: content;
}


.grid-template-areas .now-playing{
    grid-area: now-playing;
}